@model HomeVm;
@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid" style="font-family:Arial">

    <div class="well well-sm">
        <strong>All Products</strong>
        <div class="" style="margin-top: 10px; margin-bottom: 10px;">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "formSearch" }))
            {
                <div class="form-inline">
                    <div class="form-group">
                        <label>By Name:</label>
                        <input type="text" class="form-control" name="prodName">
                    </div>
                    <div class="form-group">
                        <label for="pwd">minimum Price:</label>
                        <input type="number" class="form-control" name="txtFromPrice" placeholder="From">
                    </div>
                    <div class="form-group">
                        <label for="pwd">MAX Price:</label>
                        <input type="number" class="form-control" name="txtToPrice" placeholder="From">
                    </div>
                    <div class="form-group">

                        <button type="submit" class="btn btn-striped" style="background-color:#bdeec4;">Search</button>
                    </div>
                </div>
            }
        </div>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-primary">
                <span class="glyphicon glyphicon-th-list"></span>List
            </a><a href="#" id="grid" class="btn btn-primary">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>

    <div id="categories-list" class="row list-group">
        @Html.Partial("productsV", Model.Products)


    </div>
    <hr />
    <h3 class="page-header">We thought this product was right for you:</h3>
    <div style="width: 20%;">
        <div class="thumbnail">
            <div class="group list-group-image product-img" id="msImage"></div>
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    <label>Name:</label><label id="msName"></label>
                </h4>
                <p class="group inner list-group-item-text">
                    <label>Description:</label><label id="msDescription"></label>
                </p>
                <p class="group inner list-group-item-text">
                    <label>Price:</label>$<label id="msPrice"></label>
                </p>

            </div>
        </div>
    </div>
    @*<div id="slikCaroucel">
        @foreach (var item in Model.Products)
        {
            <img src="@Html.DisplayFor(modelItem => item.image)" style="width:50%;height:200px;" />
        }
    </div>*@
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#categories-list .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#categories-list .item').removeClass('list-group-item'); $('#categories-list .item').addClass('grid-group-item'); });

            // Initiate top sales section
            $.ajax({
                url: "/Home/GetTopSaleProduct",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                success: function (data, textStatus, jqXHR) {
                    var product = data;
                    $('#msImage').css('background-image', 'url(' + product.image + ')');
                    $('#msName').text(product.name);
                    $('#msPrice').text(product.price);
                    $('#msDescription').text(product.description);
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });

            // On click call keyup and don't refresh the page
            $("#formSearch").click(function (e) {
                e.preventDefault();
                $("#formSearch").keyup();

            });

            // Key up search the products
            $("#formSearch").keyup(function (e) {


                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        $("#categories-list").html(data);
                    }
                });

                e.preventDefault(); // avoid to execute the actual submit of the form.
            });
        });

    </script>
}
@section Styles {

    <style>
        .glyphicon {
            margin-right: 5px;
        }

        .thumbnail {
            margin-bottom: 20px;
            padding: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        .item.list-group-item {
            float: none;
            width: 100%;
            background-color: #fff;
            margin-bottom: 10px;
        }

            .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
                background: #428bca;
            }

            .item.list-group-item .list-group-image {
                margin-right: 10px;
            }

            .item.list-group-item .thumbnail {
                margin-bottom: 0px;
            }

            .item.list-group-item .caption {
                padding: 9px 9px 0px 9px;
            }

            .item.list-group-item:nth-of-type(odd) {
                background: #eeeeee;
            }

            .item.list-group-item:before, .item.list-group-item:after {
                display: table;
                content: " ";
            }

            .item.list-group-item img {
                float: left;
            }

            .item.list-group-item:after {
                clear: both;
            }

        .list-group-item-text {
            margin: 0 0 11px;
        }

        .product-img {
            height: 200px;
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
            background-position: center top;
        }
    </style>
}