@model ProductsStore.Models.User
@{
    ViewBag.Title = "Login";
}
<h2></h2>

<style>
    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading, .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    .account-wall {
        margin-top: 20px;
        padding: 40px 0px 20px 0px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .login-title {
        color: #555;
        font-size: 18px;
        font-weight: 400;
        display: block;
    }

    .profile-img {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .need-help {
        margin-top: 10px;
    }

    .new-account {
        display: block;
        margin-top: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title" style="color:#245980"><b>Sign in to continue shopping</b></h1>
            <div class="account-wall">
                <img class="profile-img" src="http://www.cofix.co.il/wp-content/uploads/2015/06/Cofix-Tel-Aviv-6.jpg"
                     alt="">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "formLogin" }))
                {
                    <div class="form-signin">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control" } })
                        <button class="btn btn-lg btn-striped btn-block" style="background-color:#bdeec4;" type="submit">
                            Sign in
                        </button>
                        @*<label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>*@
                        <a href="mailto:help@alphateam.com?Subject=Login%20problem" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                    </div>
                }
            </div>
            <a asp-area="" asp-controller="Home" asp-action="Register" class="text-center new-account">Not Register yet? Click here! </a>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {

            // Key up search the products
            $("#formLogin").submit(function (e) {


                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                            window.location= '/';
                    },
                    error: function (data) {
                        alert(data.responseText);
                    },
                });

                e.preventDefault(); // avoid to execute the actual submit of the form.
            });
        });

    </script>
}