@model List<Product>;

@if (!Model.Any())
{
    <h2 >Nothing to show</h2>
}

@foreach (var item in Model)
{
    <div class="item  col-xs-4 col-lg-3 hvr-float-shadow">
        <div class="thumbnail">
            <div class="group list-group-image product-img" style="background-image: url('@Html.DisplayFor(modelItem => item.image)')"></div>
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    <label>Name:</label>
                    @Html.DisplayFor(modelItem => item.name)
                </h4>
                <p class="group inner list-group-item-text">
                    <label>Description:</label>@Html.DisplayFor(modelItem => item.description)
                </p>
                <p class="group inner list-group-item-text">
                    <label>Price:</label>$@Html.DisplayFor(modelItem => item.price)
                </p>
                <div class="row">
                    @*<div class="col-xs-12">
                            <label>Price:</label><p class="lead">
                                $@Html.DisplayFor(modelItem => item.price)
                            </p>
                        </div>
                    *@
                    <div class="col-xs-12">
                        @Html.ActionLink("Add to cart", "ProductDetails", "Products", new { id = item.ID }, new { @class = "btn btn-primary form-control hvr-pulse" })
                        @*<a class="btn btn-success" href="/somecontroller/someaction/123">Add to cart</>*@
                    </div>


                </div>
            </div>
        </div>
    </div>
}