@model ProductsStore.Models.Order

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2><label class="label label-info"><b>Edit Order</b></label></h2>
    </div>
    <div class="col-md-4"></div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row" style="margin-top:20px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="userID" class="control-label"></label>
                    <input asp-for="userID" class="form-control" />
                    <span asp-validation-for="userID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="orderDate" class="control-label"></label>
                    <input asp-for="orderDate" class="form-control" />
                    <span asp-validation-for="orderDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="creditCardNum" class="control-label"></label>
                    <input asp-for="creditCardNum" class="form-control" />
                    <span asp-validation-for="creditCardNum" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-striped" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>




}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @**// TODO:INITIATE LOCALLY after download from nuget - Install-Package jQuery.Validation*@
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
}
